/*
Comments

- Most comments are only to give clarification about what the code does

- Some have tags, to make them easier to search for:
    - [BUG]
    - [TODO]

*/


/* Font */
@font-face {
    font-family: 'League Spartan';
    src: url('fonts/leaguespartan-bold.eot');
    src: url('fonts/leaguespartan-bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/leaguespartan-bold.woff2') format('woff2'),
         url('fonts/leaguespartan-bold.woff') format('woff'),
         url('fonts/leaguespartan-bold.ttf') format('truetype'),
         url('fonts/leaguespartan-bold.svg#league_spartanbold') format('svg');
    font-weight: bold;
    font-style: normal;
}


/* Website Variables */
:root {
    /* Colors */
    --light-blue: #43678f;
    --dark-blue: #144173;

    /* Transparent dark blues for images and text */
    --dark-blue-trans-img: #14417380;
    --dark-blue-trans-text: #144173d0;

    --light-grey: #f1f1f1;
    --light-grey-trans: #f1f1f1ee;
    --grey: #a6a6a6;


    /* Fonts */
    --font-title: 'League Spartan', sans-serif;
    --font-body: 'Open Sans', sans-serif;


    /* Screen Sizes considered small and large -> To be confirmed */
    --small-screen: 700px;
    --large-screen: 1200px;


    /* Navbar */
    --navbar-height: 50px;
    --navbar-logo-width: 25%;

    
    /* Section side padding */
    --section-side-pad: 90px;


    /* Width of decorative lines*/
    --width-lines: 5px;
}



/* Full document Styles */
html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-body);
    font-weight: 500;
    width: 100%;
    margin: 0;
    text-align: justify;
    overflow-x: hidden;
}



/* General Styles for the sections */
header, main, footer {
    width: 100%;
    overflow-x: hidden;
}

header {
    text-align: center;
}

section {
    padding: 30px var(--section-side-pad);
    background-color: var(--dark-blue);
    color: white;
}
section#who-we-are, #teams {
    background-color: white;
    color: var(--dark-blue);
}
section#who-we-are {
    color: black;
}

/* Large screen configurations */
@media not screen and (max-width: 1200px) {
    .mobile-only {
        display: none !important;
    }
    .pc-only {
        display: inherit;
    }
    section {

        /* Limit maximum text width to prevent long lines */
        /* Changes the padding to limit section width to 1200px */
        /* The 90px is the normal side padding of the sections */
        --section-side-pad: calc((100vw - (var(--large-screen) - 2 * 90px)) / 2);
    }
}


/* Large and medium screen configuration */
@media not screen and (max-width: 700px) {
    .mobile-only {
        display: none !important;
    }
}


/* Small screen configurations */
@media screen and (max-width: 700px) {
    .mobile-only {
        display: inherit;
    }
    section {

        /* Gives more space for content in small screens */
        --section-side-pad: 30px;
    }
}



/* Title Styles */
h1, h2, h3 {
    font-family: var(--font-title);
}
h1 {
    font-size: 2.4em;
    margin-bottom: 10px;
}


/* Navbar */
nav {
    display: flex;
    position: absolute;
    top: 20px;
    align-items: center;
    width: 100%;
    height: var(--navbar-height);
    border-top: 3px solid black;
    border-bottom: 8px solid black;
    background-color: white;
    z-index: 9;
}

nav > div {
    margin: 0px;
    padding: 0px;
}

nav div.logo {
    display: flex;
    width: var(--navbar-logo-width);
    height: var(--navbar-height);
    padding: 0px 0px 0px 3%;
    overflow-y: hidden;
}
nav img {
    position: relative;
    top: -25%;
    width: auto;
    max-width: 100%;
    height: 160%;
}

nav div.menu {
    width: calc(100% - var(--navbar-logo-width));
}
nav div.menu ul {
    float: right;
    width: fit-content;
    margin: 0px;
    padding: 0px 20px 0px 0px;
    overflow: hidden;
    list-style-type: none;
}
nav div.menu ul li {
    display: inline-block;
    text-align: center;
    margin: 0px;
    padding: 6px 10px 12px 10px;
}
nav div.menu ul li a {
    text-decoration: none;
    font-weight: 500;
    color: black;
}
nav div.menu ul li:last-child {
    font-weight: 800;
    font-size: 1.1em;
}
nav div.menu ul li:last-child a {
    text-decoration: none;
    font-weight: 800;
    font-size: 1.1em;
    color: black;
}


/* Change navbar for small screens */
@media screen and (max-width: 700px) {
    nav div.menu {
        margin-right: 40px;
    }
    nav div.menu ul li:nth-child(-n + 4) {
        display: none;
    }
}

/* Dropdown menu for small screens */
nav button.dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0px;
    height: 80%;
    margin: 0px;
    padding: 2px 15px 7px;
    border: none;
    background-color: transparent;
    -webkit-transition: background-color 0.1s;
    -moz-transition: background-color 0.1s;
    -o-transition: background-color 0.1s;
    transition: background-color 0.1s;
}
nav button.dropdown:hover {
    background-color: white;
    cursor: pointer;
}

nav div.dropdown-icon {
    background-color: black;
    width: 30px;
    height: 5px;
    margin: auto;
    padding: 0px;
    border-radius: 8px;
}
nav div.dropdown:hover .dropdown-icon {
    background-color: var(--dark-blue);
}

nav div.dropdown-items {
    display: none;
    position: absolute;
    top: calc(100% + 4px);
    right: 0px;
    color: white;
    width: 100%;
    margin: 0px;
    padding: 0px;
    border-top: 2px solid black;
    background-color: var(--dark-blue);
    z-index: 1;
}
nav div.dropdown-items a {
    font-size: 1.1;
    font-weight: bold;
    color: white;
    text-decoration: none;
}
nav ul.dropdown-links {
    margin: 15px 0px;
    padding: 0px;
    list-style-type: none;
}
nav ul.dropdown-links li {
    margin: 10px 0px;
}



/* Header */

/* Fit header to screen and center background image with paralax */
header {
    position: relative;
    width: 100%;
    height: clamp(600px, 1280px, 100vh);
    margin: 0px;
    background-image: url(img/inicio.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
header div.header-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: clamp(600px, 1280px, 100vh);
    max-height: 100vh;
    background-color: var(--dark-blue-trans-img);
}

header h1 {
    position: relative;
    top: 25%;
    margin: 0px 20px;
    color: white;
}
@media screen and (max-width: 1000px) {
    header h1 {
        top: 18%;
    }
}

header div.find-out-more {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 40px;
    color: white;
}
header div.find-out-more::after {
    position: relative;
    top: 1.1em;
    right: 67px;
    content: '\2193';
    font-size: 1.5em;
}
header div.find-out-more a {
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
    padding-bottom: 30px;
    color: white;
}



/* 'Who we are' section  */
#who-we-are img.info {
    position: relative;
    top: 5px;
    left: -10px;
    width: auto;
    height: 1em;
}
#who-we-are h1::after {
    display: block;
    position: relative;
    top: -1px;
    left: 50px;
    width: 150px;
    height: var(--width-lines);
    content: '';
    background: black;
    border-radius: var(--width-lines);
}

#who-we-are div.text {
    width: 75%;
    margin: 20px;
}

#who-we-are {
    --image-move-up: -60px;
}
#who-we-are div.BEST-data {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--image-move-up);
}

#who-we-are div.image {
    position: relative;
    top: calc(var(--image-move-up));
    width: 35%;
}
#who-we-are div.image img {
    width: 100%;
    height: auto;
}

#who-we-are div.number-boxes {
    position: relative;
    top: -30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 60%;
}
#who-we-are div.number-boxes > div {
    font-size: 0.7em;
    font-weight: 600;
    text-align: center;
    min-width: 110px;
    padding: 21px 0px;
    margin: 15px auto;
    border: 2px solid black;
    box-shadow: 2px 2px black;
}
#who-we-are div.number-boxes > div span.num {
    font-size: 2.5em;
    font-weight: 700;
    color: var(--dark-blue);
}

@media screen and (max-width: 800px) {
    /* Test uses the entire screen in mobile */
    #who-we-are div.text {
        width: 100%;
        margin: 0px;
    }
    
    /* Make sure the image is still visible for small screens */
    #who-we-are div.image {
        top: 0px;
        min-width: 100%;
        margin: 0px;
    }
    #who-we-are div.image img {
        width: 100%;
        height: auto;
        margin: 0px 0px 30px 0px;
    }

    /* Squares use more screen when the screen is small */
    #who-we-are div.number-boxes {
        width: 100%;
        top: 0px;
    }
}


/* 'BEST Porto' section */
#best-porto {
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
    background-image: url(img/inicio.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
#best-porto .empty {
    position: relative;
    left: -90px;
    width: 55%;
    min-height: 50vh;
    margin: 0px;
    background-color: transparent;
    box-shadow: 0 0 0 10000px var(--dark-blue-trans-text);
}
#best-porto .content {
    width: 55%;
    z-index: 1;
}

#best-porto h1::after {
    display: block;
    position: relative;
    top: -1px;
    left: 8px;
    width: 135px;
    height: var(--width-lines);
    content: '';
    background: white;
    border-radius: var(--width-lines);
}


/* 'Teams' section */
#teams {
    /* Section padding has to be set like this to not overwrite left and right side padding */
    padding-top: 0px;
    padding-bottom: 0px;
}

#teams h1 {
    text-align: center;
}
#teams h1::after {
    display: block;
    position: relative;
    top: -1px;
    left: calc(-1 * var(--section-side-pad) - 10px);
    width: calc(50% + var(--section-side-pad) + 90px);
    height: var(--width-lines);
    content: '';
    background: var(--dark-blue);
    border-radius: var(--width-lines);
}
#teams h1 img {
    position: relative;
    top: 2px;
    left: -5px;
    width: auto;
    height: 1em;
}

#teams div.all-team-icons {
    display: flex;
    flex-wrap: wrap;
    margin: 15px 0px 0px;
}
#teams div.all-team-icons > div {
    min-width: 60px;
    max-width: 130px;
    margin: 10px auto 0px;
    padding: 0px 10px;
}

/* [BUG] No Firefox os icons não aparecem */
#teams div.all-team-icons div.team-icon {
    padding: 0px 15px;
}
#teams div.all-team-icons img {
    width: 100%;
    height: auto;
}

#teams div.all-team-icons div.team-name {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 65px;
    margin: 10px 0px;
}
#teams div.all-team-icons p {
    font-family: var(--font-title);
    text-align: center;
    margin: 0px;
    color: black;
}




/* 'Meet our members' section */
#meet-our-members-title h1 {
    text-align: center;
}
#meet-our-members-title h1::after {
    display: block;
    position: relative;
    top: -1px;
    left: calc(50% - 160px);
    width: 180px;
    height: var(--width-lines);
    content: '';
    background: white;
    border-radius: var(--width-lines);
}
#meet-our-members-title h1 img {
    position: relative;
    top: 10px;
    left: -5px;
    width: auto;
    height: 1.3em;
}

#meet-our-members-title h2 {
    font-family: var(--font-body);
    font-weight: normal;
    font-size: 1.2em;
    text-align: center;
    margin-top: 50px;
}


#meet-our-members {
    background-color: white;
    color: var(--dark-blue);
}

#meet-our-members h2 {
    font-weight: normal;
    font-size: 1.3em;
    text-align: center;
    margin-top: 50px;
}

#meet-our-members div.member-images {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin: auto;
}
#meet-our-members div.member-images:last-child {
    width: 76%;
}

#meet-our-members div.member-images div.member {
    position: relative;
    width: 170px;
    min-width: 170px;
    height: 190px;
    margin: 10px auto;
    border: var(--dark-blue) 4px solid;
    overflow-y: hidden;
}

#meet-our-members div.member-images div.member-name {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    bottom: -25%;
    width: 100%;
    height: 50%;
    padding: 5px 0px 0px 0px;
    background-color: var(--light-grey-trans);
    text-align: center;
    color: black;
    transition: bottom .4s ease-in-out;
}
#meet-our-members div.member-images div.member-name > div {
    position: relative;
    top: -5px;
    width: 30px;
    height: 30px;
    margin: auto;
}
#meet-our-members div.member-images div.member-name > div img {
    display: block;
    width: auto;
    max-width: 100%;
    height: auto;
}

#meet-our-members div.member-images div.member-name p {
    min-width: 100%;
    margin: 0px;
}
#meet-our-members div.member-images div.member-name p:nth-child(1) {
    font-size: 0.9em;
}
#meet-our-members div.member-images div.member-name p:nth-child(2) {
    font-size: 0.55em;
}

#meet-our-members div.member-images div.member:hover div.member-name {
    bottom: 0;
}


/* 'Competitions' section */
#competitions h1 {
    text-align: center;
}
#competitions h1::after {
    display: block;
    position: relative;
    top: -1px;
    left: calc(50%);
    width: calc(50% + var(--section-side-pad));
    height: var(--width-lines);
    content: '';
    background: white;
    border-radius: var(--width-lines);
}
#competitions h1 img {
    position: relative;
    top: 10px;
    left: -1px;
    width: auto;
    height: 1.1em;
}

#competitions > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;
}
#competitions div.content {
    flex: 1 1 45%;
}
#competitions div.image-right {
    flex: 1.2 1 45%;
    margin-left: 50px;
}
#competitions div.image-left {
    flex: 1.2 1 45%; 
    margin-right: 50px;
}

#competitions div img {
    display: block;
    position: relative;
    width: 100%;
    min-width: 300px;
    height: auto;
}
#competitions div.image-right img {
    right: -30px;
    box-shadow: -10px 8px 0px 0px black;
}
#competitions div.image-left img {
    left: -30px;
    box-shadow: 10px 8px 0px 0px black;
}
@media screen and (max-width: 700px) {
    #competitions div.image-right img {
        right: 0px;
    }
    #competitions div.image-left img {
        left: 0px;
    }
}

#competitions div.first-part ul {
    font-weight: bold;
    margin: 30px 0px;
    padding: 0px;
    list-style: none;
}
#competitions div.first-part ul li {
    display: inline-block;
    position: relative;
    margin: 0px 1px;
}
#competitions div.first-part ul li:nth-child(2n) {
    top: 30px;
}

@media screen and (max-width: 1000px) {
    #competitions div.first-part ul {
        display: flex;
        flex-wrap: wrap;
    }
    #competitions div.first-part ul li {
        display: inline-block;
        position: initial;
        flex: 1 1 120px;
        margin: 10px 5px;
    }
}

/*
[TODO]
First part decorative line, I can't make it WORK

#competitions div.first-part::before {
    display: block;
    position: relative;
    top: 242px;
    left: calc(-50% - var(--section-side-pad));
    width: calc(30% + var(--section-side-pad));
    height: var(--width-lines);
    content: '';
    background: black;
    border-radius: var(--width-lines);
}
*/

#competitions::after {
    display: block;
    position: relative;
    top: -50px;
    right: -90%;
    width: calc(15% + var(--section-side-pad));
    height: var(--width-lines);
    content: '';
    background: white;
    border-radius: var(--width-lines);
}


/* 'Educational Involvement' section */
#educational-involvement {
    font-weight: 400;    
}

#educational-involvement h1 {
    text-align: center;
}
#educational-involvement h1::after {
    display: block;
    position: relative;
    top: 30px;
    left: calc(50% - 85px);
    width: 155px;
    height: var(--width-lines);
    content: '';
    background: white;
    border-radius: var(--width-lines);
}
#educational-involvement h1 img {
    position: relative;
    top: 8px;
    left: -3px;
    width: auto;
    height: 1.2em;
}

#educational-involvement h2 {
    font-family: var(--font-body);
    font-size: 1.1em;
    font-weight: 400;
    text-align: center;
    width: 75%;
    margin: 40px auto 70px;
}

#educational-involvement ul {
    list-style-image: url(icons/circ.png);
    list-style-position: inside;
}
#educational-involvement ul::before {
    display: block;
    position: relative;
    top: -30px;
    left: 75%;
    width: calc(35% + var(--section-side-pad));
    height: var(--width-lines);
    content: '';
    background: white;
    border-radius: var(--width-lines);
}

#educational-involvement ul li {
    position: relative;
    left: -50px;
    width: 110%;
    margin: 10px 0px;
    text-indent: 50px;
}

#educational-involvement-statement {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: transparent;
    color: black;
}
#educational-involvement-statement p {
    font-weight: 700;
    margin-left: 25px;
}

/* This line is like this because there is no page break in the site */
/* Need to ajust height to container, height: 100% doesn't work */
#educational-involvement-statement::after {
    z-index: -1;
    display: block;
    position: relative;
    float: left;
    top: -88px;
    width: var(--width-lines);
    height: 110px;
    content: '';
    background: black;
    border-radius: var(--width-lines);
}


/* 'Competitions' section */
#local-events h1 {
    text-align: center;
}
#local-events h1::after {
    display: block;
    position: relative;
    top: -1px;
    left: calc(37%);
    width: calc(63% + var(--section-side-pad));
    height: var(--width-lines);
    content: '';
    background: white;
    border-radius: var(--width-lines);
}
#local-events h1 img {
    position: relative;
    top: 3px;
    left: -10px;
    width: auto;
    height: 1em;
}


/* Footer Styles */
footer {
    position: absolute;
    height: 500px;
    background-image: url(img/follow\ us\ desfocada.png);
    background-size: cover;
    background-position: center;
    background-position-y: -100px;
    color: white;
}

footer div.footer-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--dark-blue-trans-img);
}

footer div.follow {
    position: absolute;
    top: 150px;
    right: calc(50% + 120px);
    min-width: 250px;
    margin-left: 10px;
}
footer div.follow h1 {
    font-size: 2.8em;
}

footer div.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}
footer div.socials div {
    width: 40px;
    height: 40px;
    margin: auto;
}
footer div.socials img {
    display: block;
    width: auto;
    max-width: 100%;
    height: auto;
}
footer div.socials div::after {
    display: block;
    position: relative;
    top: -40px;
    content: '';
    width: 40px;
    height: 40px;
    pointer-events: none;
    border-radius: 5px;
}
footer div.socials div:hover::after {
    background: rgba(0, 0, 0, 0.2);
}



/* White line under 'Follow us' */
footer::after {
    display: block;
    position: relative;
    top: 230px;
    left: 0;
    width: calc(50% - 120px);
    height: var(--width-lines);
    content: '';
    background: white;
    border-radius: var(--width-lines);
}

footer div.contacts {
    position: absolute;
    top: 130px;
    left: 50%;
    padding-right: 20px;
}

footer address {
    font-style: normal;
}
footer address p {
    font-weight: 400;
    margin: 30px 0px;
}
footer address a {
    text-decoration: none;
    color: white;
}

/* Change footer display for small screens */
@media screen and (max-width: 750px) {
    footer {
        height: 800px;
    }

    footer div.follow {
        left: 10px;
    }

    footer::after {
        width: 273px;
    }

    footer div.contacts {
        top: 330px;
        right: 10px;
        left: unset;
        margin-left: 15px;
    }
}

footer div.page-end {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: var(--light-grey-trans);
    text-align: center;
    color: black;
}
footer div.page-end p {
    font-family: var(--font-title);
    font-weight: bold;
    font-size: 1.4em;
    padding: 15px 0px;
}